<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link href="style.css" rel="stylesheet">
  </head>
  <body class="bg-slate-900 text-white font-[Trebuchet_MS]">
    <div class="w-2xl shadow-md rounded-xl bg-slate-950 mx-auto p-4">
      <div>
        <h1 class="text-center font-bold text-2xl">Game Inventory</h1> 
        <h2 class="text-start font-bold text-xl">Categories</h2>
      </div> 
      <div>
        <% for (let i = 0; i < games.length; i++) { %>
          <div class="grid grid-cols-4 bg-slate-900 p-2 mb-4 rounded-md">
            <div><%= games[i].name %></div>
            <div class="flex basis-[200px] flex-wrap">
              <% games[i].category.split(" ").forEach(cate => { %>
                <div class="rounded-full text-sm px-2 py-1 bg-[#7FFFD430] border-2 mb-2 border-[#7CFC00]"><%= cate %></div> 
              <% }) %>
            </div>
            <div>₹<%= games[i].price %></div>
            <div>Stock: <%= games[i].stock %></div>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
